:root {
	--cell-size: 40px;
	--map-gap: 4px;
	--cell-border-radius: 4px;
	--tooltip-bg-color: white;
	--tooltip-border: 3px dashed #dddddd;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.floater {
	position: absolute;
	top: calc(
		var(--anchor-top, -9999px) - var(--floater-height, 0px) -
			var(--floater-gap, 0px)
	);
	left: calc(
		var(--anchor-left, -9999px) + var(--anchor-width, 0px) / 2 -
			var(--floater-width, 0px) / 2
	);
}

.tooltip {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 8px 20px;
	border-radius: 24px;
	border: var(--tooltip-border);
	margin-bottom: 7px; /* пространство для хвостика */

	background-color: var(--tooltip-bg-color);

	opacity: 1;
	transform: translateY(0px);
}

.tooltip.tooltip--enter {
	opacity: 0;
	transform: translateY(4px);
}

.tooltip.tooltip--enter-active,
.tooltip.tooltip--exit-active {
	transition:
		opacity var(--delay) ease-out,
		transform var(--delay) ease-out;
}

.tooltip.tooltip--enter-active,
.tooltip.tooltip--enter-done {
	opacity: 1;
	transform: translateY(0px);
}

.tooltip.tooltip--exit-active,
.tooltip.tooltip--exit-done {
	opacity: 0;
	transform: translateY(4px);
}

.tooltip::after {
	content: '';
	height: 12px;
	width: 12px;

	display: flex;

	transform: rotate(-45deg);
	border-radius: 4px;
	border: var(--tooltip-border);
	border-top-color: transparent;
	border-right-color: transparent;

	position: absolute;
	bottom: -8px;

	background-color: var(--tooltip-bg-color);
}

.tooltip.action-tooltip .__press-key {
	height: var(--cell-size);
	width: var(--cell-size);

	border-radius: 16px;
	background-color: #e6e6e6;

	display: flex;
	align-items: center;
	justify-content: center;
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	overflow: hidden;

	background-color: #f5fdf7;
}

.map {
	display: grid;
	gap: var(--map-gap);
	grid-auto-flow: row;

	border-radius: 32px;
	overflow: hidden;
	flex-shrink: 0;

	position: relative;
	transition:
		top 100ms ease-out,
		left 100ms ease-out;

	left: calc(
		var(--cube-position-x) * -1 * (var(--cell-size) + var(--map-gap))
	);
	top: calc(var(--cube-position-y) * (var(--cell-size) + var(--map-gap)));
	grid-template-columns: repeat(var(--map-size), var(--cell-size));
	grid-template-rows: repeat(var(--map-size), var(--cell-size));
}

.__cell {
	height: var(--cell-size);
	width: var(--cell-size);
	border-radius: var(--cell-border-radius);

	transition: background-color 500ms ease-out;

	display: flex;
	align-items: center;
	justify-content: center;
}

.__cell.__cell--blank {
	background-color: white;
}

.__cell.__cell--grass {
	background-color: #bef2c9;
}

.__cell.__cell--sand {
	background-color: #fbe9ab;
}

.__cell.__cell--water {
	background-color: #c4e2fc;
}

.__cell .__item {
	opacity: 1;
}

.__cell .__item.__item--enter {
	opacity: 0;
}

.__cell .__item.__item--enter-active,
.__cell .__item.__item--exit-active {
	transition: opacity var(--delay) ease-out;
}

.__cell .__item.__item--enter-active,
.__cell .__item.__item--enter-done {
	opacity: 1;
}

.__cell .__item.__item--exit-active,
.__cell .__item.__item--exit-done {
	opacity: 0;
}

.cube {
	height: var(--cell-size);
	width: var(--cell-size);
	border-radius: var(--cell-border-radius);

	position: absolute;

	background-color: #1e1e1e;

	display: flex;
	align-items: center;
	justify-content: center;
}

.bottom-bar {
	position: absolute;
	bottom: 8px;

	background-color: white;
	border-radius: 16px;
	border: 3px solid #dddddd;
	padding: 8px 20px;

	opacity: 1;
	transform: translateY(0px);
}

.bottom-bar.bottom-bar--enter {
	opacity: 0;
	transform: translateY(4px);
}

.bottom-bar.bottom-bar--enter-active,
.bottom-bar.bottom-bar--exit-active {
	transition:
		opacity var(--delay) ease-out,
		transform var(--delay) ease-out;
}

.bottom-bar.bottom-bar--enter-active,
.bottom-bar.bottom-bar--enter-done {
	opacity: 1;
	transform: translateY(0px);
}

.bottom-bar.bottom-bar--exit-active,
.bottom-bar.bottom-bar--exit-done {
	opacity: 0;
	transform: translateY(4px);
}

.inventory {
	display: flex;
	align-items: center;
	gap: 8px;
}

.inventory .__item {
	height: var(--cell-size);
	width: var(--cell-size);

	background-color: #f3f3f3;
	border-radius: var(--cell-border-radius);

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.inventory .__item .__count {
	position: absolute;

	bottom: 2px;
	right: 2px;

	background-color: white;
	border-radius: 4px;
	padding: 2px 4px;

	font-size: 8px;
	line-height: 8px;
}
